 ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .directory, .file {
            cursor: pointer;
            padding: 5px;
        }

        .hover-bold {
            font-weight: bold;
        }

        .nested {
            display: none;
            padding-left: 20px;
        }

        .active {
            display: block;
        }

        .file {
            cursor: default;
        }